
/*Extra large 1200px*/
@media only screen and (min-width: 1199px) {
	.sect_cover {
    	padding-top: 11vw;
	}

}

/*Large 992px*/
@media only screen and (max-width: 991px) {
	.sect_cover {
	    padding-top: 14vw;
	}

}



/*Medium 768px*/
@media only screen and (max-width: 767px) {
	.sect_cover {
	    padding-top: 17vw;
	}
	.b-right{
		border-right: none;
	}
	.sect_cover, .sect_how_it {
	    padding-top: 10vw;
	    height: auto;
	}
}

/*Small 576px*/
@media only screen and (max-width: 575px) {
	.sect_cover {
	    padding-top: 25vw;
	}
	.sect_cover .spotify_logo figure img {
    	width: 120px;
	}
	.sect_cover .soundclash_logo figure img {
	    width: 270px;
	}
	.sect_cover .container-end .other_content p {
	    font-size: 1em;
	    font-weight: normal;
	}
	.sect_cover .container-end .other_content input {
    	width: 300px;
	}
	.main-body .sect_leaderboard .titles_cover p.title {
	    font-size: 16px;
	}
	.main-body .sect_leaderboard .titles_cover p.sub_title {
		font-size: 16px;
	}


}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Extra small 576px*/
@media only screen and (max-width: 320px) {
	.sect_cover {
	    padding-top: 30vw;
	}
}