html{
	font-size: calc(13px + 0.119vw);line-height: calc(20px + 0.119vw);}
body{
	color: #505050;
	font-size: calc(14px + 0.119vw);
	font-family: 'ProximaNova-Regular';
	font-weight: normal;
}
header{
	position: absolute;
	color: #fff;
    width: 100%;
    z-index: 2;
    padding: 10px 0;
}
h1{
	font-family: 'ProximaNovaA-Light';
}
.section .container-fluid, header .container-fluid{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.section{padding: 40px 0; position: relative;}
.object-fit-cover{object-fit: cover;object-position: center; }
/*Menu*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #515151;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    /*padding: 16px;*/
}


/*Fin Menu*/
.header_bg_one{
	background: #88898C;
	position: fixed;
	z-index: 99;
}
.header_bg_two{
	background: #9E445C;
	position: fixed;
	z-index: 99;
}
header .menu figure p {
	display: inline;
	font-size: 18px;
	padding: 0;
	vertical-align: middle;
}
header .menu figure img {
    width: 20px;
    display: inline;
    margin-left: 10px;
    padding: 0;
	vertical-align: middle;
}
.bg-cover figure img {
    width: 100%;
    height: 100vh;
    border: 0;
}
.bg-cover figure img {padding-top: 0; }
figure.img-cover{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	overflow: hidden;
	height: 100%;
	min-height: 360px;
	margin-bottom:0;
	width: 100%;
}
figure.img-cover img{
	width: 100%;
	min-height: 100%;
	height: 100%;
}
.sect_cover, .sect_how_it{
	padding-top: 10vw;
	height: 100vh;
}
.sect_leaderboard{
	padding-top: 10vw;
	height: 160vh;
}
.sect_cover .spotify_logo figure img {
    width: 170px;
}
.sect_cover .soundclash_logo figure img {
    width: 405px;
}
.sect_cover .maple figure{
	margin-top: 25px;
    margin-bottom: 25px;
}
.sect_cover .maple figure img {
    width: 32px;
}
.sect_cover  .container-end{
	text-align: center;
	color: #FFF;
}
.sect_cover .container-end .other_content p, .sect_cover .container-end .other_content input{
	margin: 5px 0;
}
.sect_cover .container-end .other_content p{
	font-size: 18px;
	font-weight: normal;
}
.sect_cover .container-end .other_content input{
	width: 360px;
    height: 54px;
    border-radius: 5px;
    border: 0;
    padding: 0 40px;
    background: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 10px;
    background-position-y: 15px;
    background-color: #FFF;
}
.sect_cover .container-end .other_content p a{
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

/*Started Styles*/
.sect_cover .cont_btn .btn {
    padding: 10px 40px;
    border-radius: 50px;
}
.sect_cover .cont_btn .btn.btn-light {
	color: #000;
    font-weight: bold;
}
.sect_cover .cont_arrow_down figure img {
    width: 21px;
    margin-top: 100%;
}
.main-body .sect_how_it .cont_icon figure img{
	width: 36px;
}
.main-body .sect_how_it .steps{
	text-align: center;
	color: #FFF;
}
.main-body .sect_how_it .steps .step{
	font-size: 24px;
	font-weight: normal;
}
.main-body .sect_how_it .steps .sub_step{
	font-size: 18px;
	font-weight: normal;
}
.main-body .sect_how_it .cont_btn .btn {
    padding: 10px 40px;
    border-radius: 50px;
    color: #1E3264;
    font-weight: bold;
}
.main-body .sect_how_it .cont_arrow_down figure img {
    width: 21px;
    margin-top: 0;
}
.main-body .sect_how_it .cont_btn p a{
	font-size: 16px;
    font-weight: bold;
    color: #FFF;
}
.main-body .sect_leaderboard .btn-group .btn {
    padding: 10px 40px;
    border-radius: 50px;
    margin: 30px 0;
}
.main-body .sect_leaderboard .personal_border{
	border-bottom: 5px solid #FFF;
    padding: 0 0 0 15px;
}
.main-body .sect_leaderboard .arrow figure img{
	width: 20px;
}
.main-body .sect_leaderboard .before_arrow{
	border-bottom: 1px solid #666;
    padding-bottom: 10px;
}
.main-body .sect_leaderboard .arrow figure p{
	color: #5ff550;
    font-size: 16px;
    font-weight: normal;	
}
.main-body .sect_leaderboard .cover figure img{
	width: 130px;
}.main-body .sect_leaderboard .cover figure a.play::after{
	margin: 0;
    list-style: none;
    display: inline-block;
    position: absolute;
    right: 30%;
    top: 95px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    content: "";
    /* color: #fff; */
    padding-left: 4px;
    background-repeat: no-repeat;
    background-image: url(../img/play.svg);
}
.main-body .sect_leaderboard .titles_cover p.title{
	padding: 0;
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
.main-body .sect_leaderboard .titles_cover p.sub_title{
	padding: 0;
    margin: 0;
    color: #fff;
    font-weight: normal;
    font-size: 24px;
}
.main-body .sect_leaderboard .titles_cover .btn{
	font-size: 10px;
    padding: 5px 10px;
    border-radius: 50px;
}
.b-right{
	border-right: solid 1px #fff;
}
.line{
    width: 180px;
    background: #FFF;
    margin: 30px auto;
    z-index: 5;
}
/*End Started Styles*/
